_Global/Trasporto-T2/InvioDisposizioni.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Sga">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OrdiniTrasporto">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OrdineTrasporto" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Codice">
											<xs:complexType>
												<xs:attribute name="Anno" use="required" type="xs:short"/>
												<xs:attribute name="Filiale" use="required" type="xs:string"/>
												<xs:attribute name="Numero" use="required" type="xs:int"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="ElementoId" type="xs:string"/>
										<xs:element name="Azione" type="xs:string"/>
										<xs:element name="Raggruppamento">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Data">
														<xs:complexType>
														</xs:complexType>
													</xs:element>
													<xs:element name="Id">
														<xs:complexType>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Cliente" type="xs:string"/>
										<xs:element name="ClienteFinale">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="Descrizione">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="Disponente">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="RiferimentoInterno" type="xs:string"/>
										<xs:element name="OrdineRiferimento" type="xs:string"/>
										<xs:element name="Barcode" type="xs:string"/>
										<xs:element name="BarcodeCode128" type="xs:string"/>
										<xs:element name="TipoViaggio">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="TipoServizio" type="xs:string"/>
										<xs:element name="TipoMotriceTrattore">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="TipoRimorchioSemirimorchio">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="TipoSpecifica">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="Priorita">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="Classificazione">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="Linea">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="Vettore" type="xs:string">
										</xs:element>
										<xs:element name="Motrice">
											<xs:complexType>
												<xs:attribute name="Codice" use="required" type="xs:string"/>
												<xs:attribute name="Targa" use="required" type="xs:string"/>
												<xs:attribute name="Piena" use="required" type="xs:string"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="Rimorchio">
											<xs:complexType>
												<xs:attribute name="Codice" use="required" type="xs:string"/>
												<xs:attribute name="Targa" use="required" type="xs:string"/>
												<xs:attribute name="Piena" use="required" type="xs:string"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="Autista">
											<xs:complexType>
												<xs:attribute name="Sede" use="required" type="xs:string"/>
												<xs:attribute name="Codice" use="required" type="xs:string"/>
												<xs:attribute name="CognomeNome" use="required" type="xs:string"/>
												<xs:attribute name="Libero" use="required" type="xs:string"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="Ordine">
											<xs:complexType>
												<xs:attribute name="Stato" use="required" type="xs:string"/>
												<xs:attribute name="TipoTariffa" use="required" type="xs:string"/>
												<xs:attribute name="KmPieno" use="required" type="xs:byte"/>
												<xs:attribute name="KmVuoto" use="required" type="xs:byte"/>
												<xs:attribute name="Cumulativa" use="required" type="xs:string"/>
												<xs:attribute name="CumulativaAbbinamento" use="required" type="xs:string"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="Disposizione">
											<xs:complexType>
												<xs:attribute name="Stato" use="required" type="xs:string"/>
												<xs:attribute name="Gestione" use="required" type="xs:string"/>
												<xs:attribute name="Definitiva" use="required" type="xs:string"/>
												<xs:attribute name="TipoTariffa" use="required" type="xs:string"/>
												<xs:attribute name="KmPieno" use="required" type="xs:byte"/>
												<xs:attribute name="KmVuoto" use="required" type="xs:byte"/>
												<xs:attribute name="OrdineDiCaricoInviato" use="required" type="xs:string"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="Apertura">
											<xs:complexType>
												<xs:attribute name="Data" use="required" type="xs:string"/>
												<xs:attribute name="Ora" use="required" type="xs:string"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="ContainerTipoMovimentazione">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="Booking">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="NoteDisponente">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="NoteInterne">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="NoteConfermaCarico">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="NoteFatturaAttiva">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="NoteFatturaPassiva">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="FormatoFattura">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="TrasfertaFasciaKm">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="TrasfertaVoce">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="TrasfertaImporto" type="xs:byte"/>
										<xs:element name="Assegnazione">
											<xs:complexType>
											</xs:complexType>
										</xs:element>
										<xs:element name="CarichiScarichi">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CaricoScarico"  maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Ordine">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Anno" type="xs:short"/>
																			<xs:element name="Filiale" type="xs:string"/>
																			<xs:element name="Numero" type="xs:int"/>
																			<xs:element name="IdCaricoScarico" type="xs:byte"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Viaggio">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Societa" type="xs:byte"/>
																			<xs:element name="Anno" type="xs:short"/>
																			<xs:element name="Filiale" type="xs:string"/>
																			<xs:element name="Numero" type="xs:int"/>
																			<xs:element name="IdRigaOperazione" type="xs:byte"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="IdRiga" type="xs:byte"/>
																<xs:element name="Riferimento" type="xs:byte"/>
																<xs:element name="Barcode" type="xs:string"/>
																<xs:element name="BarcodeCode128" type="xs:string"/>
																<xs:element name="Carico">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="CompletiIncompleti" type="xs:string"/>
																			<xs:element name="Data" type="xs:string"/>
																			<xs:element name="TipoOra" type="xs:string"/>
																			<xs:element name="Ora" type="xs:string"/>
																			<xs:element name="DataFine">
																				<xs:complexType>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="OraAlle">
																				<xs:complexType>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Tassativo" type="xs:string"/>
																			<xs:element name="Riferimento" type="xs:string"/>
																			<xs:element name="Codice" type="xs:int"/>
																			<xs:element name="RagioneSociale" type="xs:string"/>
																			<xs:element name="Indirizzo" type="xs:string"/>
																			<xs:element name="Localita" type="xs:string"/>
																			<xs:element name="Sito">
																				<xs:complexType>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Provincia" type="xs:string"/>
																			<xs:element name="Nazione" type="xs:string"/>
																			<xs:element name="Zona" type="xs:string"/>
																			<xs:element name="Cap" type="xs:short"/>
																			<xs:element name="Sequenza" type="xs:byte"/>
																			<xs:element name="Dogana">
																				<xs:complexType>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Note">
																				<xs:complexType>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="NoteMittDest">
																				<xs:complexType>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Latitudine" type="xs:decimal"/>
																			<xs:element name="Longitudine" type="xs:decimal"/>
																			<xs:element name="Verificato" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Scarico">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="CompletiIncompleti" type="xs:string"/>
																			<xs:element name="Data" type="xs:string"/>
																			<xs:element name="TipoOra" type="xs:string"/>
																			<xs:element name="Ora" type="xs:string"/>
																			<xs:element name="DataFine">
																				<xs:complexType>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="OraAlle">
																				<xs:complexType>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Tassativo" type="xs:string"/>
																			<xs:element name="Riferimento" type="xs:string"/>
																			<xs:element name="Codice" type="xs:int"/>
																			<xs:element name="RagioneSociale" type="xs:string"/>
																			<xs:element name="Indirizzo" type="xs:string"/>
																			<xs:element name="Localita" type="xs:string"/>
																			<xs:element name="Sito">
																				<xs:complexType>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Provincia" type="xs:string"/>
																			<xs:element name="Nazione" type="xs:string"/>
																			<xs:element name="Zona" type="xs:string"/>
																			<xs:element name="Cap" type="xs:short"/>
																			<xs:element name="Sequenza" type="xs:byte"/>
																			<xs:element name="Dogana">
																				<xs:complexType>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Note" type="xs:string"/>
																			<xs:element name="NoteMittDest" type="xs:string"/>
																			<xs:element name="Latitudine" type="xs:decimal"/>
																			<xs:element name="Longitudine" type="xs:decimal"/>
																			<xs:element name="Verificato" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="TransitPoint">
																	<xs:complexType>
																		<xs:attribute name="Passaggio" use="required" type="xs:string"/>
																		<xs:attribute name="Codice" use="required" type="xs:string"/>
																		<xs:attribute name="Data" use="required" type="xs:string"/>
																		<xs:attribute name="Ora" use="required" type="xs:string"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Merci">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Merce"  maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Codice" type="xs:string"/>
																						<xs:element name="Descrizione" type="xs:string"/>
																						<xs:element name="Riferimento" type="xs:int"/>
																						<xs:element name="Categoria">
																							<xs:complexType>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="Contenitore">
																							<xs:complexType>
																								<xs:attribute name="Codice" use="required" type="xs:string"/>
																								<xs:attribute name="Quantita" use="required" type="xs:byte"/>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="UnitaMisura1">
																							<xs:complexType>
																								<xs:attribute name="Codice" use="required" type="xs:string"/>
																								<xs:attribute name="Valore" use="required" type="xs:decimal"/>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="UnitaMisura2">
																							<xs:complexType>
																								<xs:attribute name="Codice" use="required" type="xs:string"/>
																								<xs:attribute name="Valore" use="required" type="xs:short"/>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="UnitaMisura3">
																							<xs:complexType>
																								<xs:attribute name="Codice" use="required" type="xs:string"/>
																								<xs:attribute name="Valore" use="required" type="xs:byte"/>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="UnitaMisura4">
																							<xs:complexType>
																								<xs:attribute name="Codice" use="required" type="xs:string"/>
																								<xs:attribute name="Valore" use="required" type="xs:byte"/>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="UnitaMisura5">
																							<xs:complexType>
																								<xs:attribute name="Codice" use="required" type="xs:string"/>
																								<xs:attribute name="Valore" use="required" type="xs:byte"/>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="Dimensioni">
																							<xs:complexType>
																								<xs:attribute name="UnitaMisura" use="required" type="xs:string"/>
																								<xs:attribute name="Unitarie" use="required" type="xs:string"/>
																								<xs:attribute name="Lunghezza" use="required" type="xs:byte"/>
																								<xs:attribute name="Altezza" use="required" type="xs:byte"/>
																								<xs:attribute name="Larghezza" use="required" type="xs:byte"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Documenti">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Documento" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Tipo" type="xs:byte"/>
																						<xs:element name="Numero" type="xs:string"/>
																						<xs:element name="Data" type="xs:string"/>
																						<xs:element name="Note">
																							<xs:complexType>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="Pre_documento">
																							<xs:complexType>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="Valuta_merce">
																							<xs:complexType>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="Importo_merce" type="xs:byte"/>
																						<xs:element name="Contrassegno_stato" type="xs:string"/>
																						<xs:element name="Contrassegno_Tipo" type="xs:string"/>
																						<xs:element name="Contrassegno_valuta" type="xs:string"/>
																						<xs:element name="Contrassegno_importo" type="xs:decimal"/>
																						<xs:element name="Contrassegno_note">
																							<xs:complexType>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="Barcode">
																							<xs:complexType>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Tariffa">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AttivoPassivo" type="xs:string"/>
													<xs:element name="NoloAddebiti" type="xs:string"/>
													<xs:element name="TipoTariffaNoloOrdine">
														<xs:complexType>
														</xs:complexType>
													</xs:element>
													<xs:element name="VoceAddebito">
														<xs:complexType>
														</xs:complexType>
													</xs:element>
													<xs:element name="Descrizione">
														<xs:complexType>
														</xs:complexType>
													</xs:element>
													<xs:element name="QuantitaMinimaFatturabile" type="xs:byte"/>
													<xs:element name="Valuta" type="xs:string"/>
													<xs:element name="ImportoAddebitoCalcoloAutomatico" type="xs:string"/>
													<xs:element name="ImportoUnitario" type="xs:byte"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Versione" use="required" type="xs:byte"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
