_Global/RitiriConsegne/UpdateDocumenti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="RitiriConsegne.ModificaDocumenti">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Release" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Documenti" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Documento" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="KeyCodice" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Anno" type="xs:short" minOccurs="1" maxOccurs="1"/>
													<xs:element name="Numero" type="xs:int" minOccurs="1" maxOccurs="1"/>
													<xs:element name="Filiale" type="xs:string" minOccurs="1" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="KeyDocumentoCliente" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Cliente" type="xs:short" minOccurs="1" maxOccurs="1"/>
													<xs:element name="Data" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
													<xs:element name="Numero" type="xs:string" minOccurs="1" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="DocumentoTrasporto" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Data" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
													<xs:element name="Numero" minOccurs="1" maxOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Riferimento" minOccurs="0" maxOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="100"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Quantita" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Imballi" type="xs:int" minOccurs="0" maxOccurs="1"/>
													<xs:element name="Palette" minOccurs="0" maxOccurs="1">
														<!-- CAMBIARE IN DECIMAL -->
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="\d+(,\d+)?"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PaletteTeoriche" minOccurs="0" maxOccurs="1">
														<!-- CAMBIARE IN DECIMAL -->
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="\d+(,\d+)?"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Peso" minOccurs="0" maxOccurs="1">
														<!-- CAMBIARE IN DECIMAL -->
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="\d+(,\d+)?"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Volume" minOccurs="0" maxOccurs="1">
														<!-- CAMBIARE IN DECIMAL -->
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="\d+(,\d+)?"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Um1Codice" minOccurs="0" maxOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Um1Valore" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
													<xs:element name="Um2Codice" minOccurs="0" maxOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Um2Valore" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ValoreMerce" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Valuta" minOccurs="1" maxOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Importo" minOccurs="0" maxOccurs="1">
														<!-- CAMBIARE IN DECIMAL -->
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="\d+(,\d+)?"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Articoli" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Articolo" minOccurs="1" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Codice" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Descrizione" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="100"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Classificazione" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="UnitaDiMisura" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Quantita" minOccurs="1" maxOccurs="1">
																	<!-- CAMBIARE IN DECIMAL -->
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:pattern value="\d+(,\d+)?"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="IdRiga" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Riferimento" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="30"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="DettaglioDescrizione" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="100"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="DettaglioNote" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="2000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Caratteristiche" minOccurs="0" maxOccurs="1">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Caratteristica" minOccurs="1" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Lotto" minOccurs="0" maxOccurs="1">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="20"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="Matricola" minOccurs="0" maxOccurs="1">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="30"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="Contenitore" minOccurs="0" maxOccurs="1">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="20"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="DataProduzione" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
																						<xs:element name="DataScadenza" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
																						<xs:element name="Quantita" minOccurs="0" maxOccurs="1">
																							<!-- CAMBIARE IN DECIMAL -->
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:pattern value="\d+(,\d+)?"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Note" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1000"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Attivo" minOccurs="1" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Viaggio" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Data" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
													<xs:element name="Numero" minOccurs="1" maxOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="200"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Prevista" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Data" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
													<xs:element name="OraInizio" type="xs:time" minOccurs="0" maxOccurs="1"/>
													<xs:element name="OraFine" type="xs:time" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
