_Global/Spedizioni/S_Eventi.Xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Designer Edition 9.1.1.3301 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Spedizioni" type="SpedizioniType" />
    <xs:simpleType name="TipoIdentificativoType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[TMAC]" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SpedizioniType">
        <xs:sequence>
            <xs:element name="Versione" type="VersioneType" minOccurs="1" maxOccurs="1" />
            <xs:element name="Spedizione" type="SpedizioneType" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="VersioneType">
        <xs:restriction base="xs:short" />
    </xs:simpleType>
    <xs:complexType name="SpedizioneType">
        <xs:all>
            <xs:element name="Identificativo" type="IdentificativoType" minOccurs="1" maxOccurs="1" />
            <xs:element name="Eventi" type="EventiType" minOccurs="1" maxOccurs="1" />
            <xs:element name="TotaliSpedizione" type="TotaliSpedizione" minOccurs="0" maxOccurs="1" />
            <xs:element name="Documenti" type="DocumentiType" minOccurs="0" maxOccurs="1" />
            <xs:element name="DataConsegnaRichiesta" type="DataConsegnaRichiestaConcordataType" minOccurs="0" maxOccurs="1" />
            <xs:element name="DataConsegnaConcordata" type="DataConsegnaRichiestaConcordataType" minOccurs="0" />
            <xs:element name="ETAcliente" type="ETAType" minOccurs="0" maxOccurs="1" />
            <xs:element name="ETAcorrispondenteConsegna" type="ETAType" minOccurs="0" maxOccurs="1" />
            <xs:element name="ETAcorrispondenteArrivo" type="ETAType" minOccurs="0" maxOccurs="1" />
            <xs:element name="ArticoliSpedizione" type="ArticoliSpedizioneType" minOccurs="0" maxOccurs="1" />
            <xs:element name="UrlTracking2pConnect" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="StatoAttuale" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="StatoAttualeData" type="DataType" minOccurs="0" maxOccurs="1" />
            <xs:element name="StatoAttualeOra" type="OraType" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="IdentificativoType">
        <xs:all>
            <xs:element name="Tipo" type="TipoIdentificativoType" minOccurs="0" maxOccurs="1" />
            <xs:element name="Anno" type="N0Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="Filiale" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Numero" type="N0Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="Id" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="IdNetworkSga" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="MittenteCodice" type="N0Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="DestinatarioCodice" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="DestinatarioRagioneSociale" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="DestinatarioLocalita" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="DestinatarioProvincia" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="DestinazioneCodice" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="DestinazioneRagioneSociale" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="DestinazioneLocalita" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="DestinazioneProvincia" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="RiferimentoMittente" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="RiferimentoDestinatario" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="RiferimentoOrdine" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="RiferimentoInterno" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="RiferimentoInternoExtra" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="CommittenteCodice" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="CommittenteRagioneSociale" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="CommittentePartitaIva" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="CommittenteRiferimento" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="TipoServizio" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Linea" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="DdtNumero" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="DdtData" type="DataType" minOccurs="0" maxOccurs="1" />
            <xs:element name="ArrivoData" type="DataType" minOccurs="0" maxOccurs="1" />
            <xs:element name="ArrivoTipo" type="ArrivoTipoType" minOccurs="0" maxOccurs="1" />
            <xs:element name="ArrivoDeposito" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="ArrivoCorrispondente" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="SenderID" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="ReceiverID" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="ConsegnaRifEsterno" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="ConsegnaCorrispondente" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="ConsegnaCorrispondenteRagioneSociale" type="xs:string" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="DataConsegnaRichiestaConcordataType">
        <xs:all>
            <xs:element name="Tipo" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Data" type="DataType" minOccurs="0" maxOccurs="1" />
            <xs:element name="OraInizio" type="OraType" minOccurs="0" maxOccurs="1" />
            <xs:element name="OraFine" type="OraType" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="EventiType">
        <xs:sequence>
            <xs:element name="Evento" type="EventoType" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EventoType">
        <xs:all>
            <xs:element name="Categoria" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Codice" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="Descrizione" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Data" type="DataType" minOccurs="1" maxOccurs="1" />
            <xs:element name="Ora" type="OraType" minOccurs="1" maxOccurs="1" />
            <xs:element name="Note" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="NoteEsterne" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="NoteInvio" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Coordinate" type="CoordinateType" minOccurs="0" maxOccurs="1" />
            <xs:element name="CambioData" type="CambioDataType" minOccurs="0" maxOccurs="1" />
            <xs:element name="UDM" type="UdmType" minOccurs="0" maxOccurs="1" />
            <xs:element name="Viaggio" type="ViaggioType" minOccurs="0" maxOccurs="1" />
            <xs:element name="ConsegnaRegolare" type="ConsegnaRegolareType" minOccurs="0" maxOccurs="1" />
            <xs:element name="Articoli" type="ArticoliType" minOccurs="0" />
            <xs:element name="MancataConsegna" type="MancataConsegnaType" minOccurs="0" maxOccurs="1" />
            <xs:element name="Danno" type="DannoType" minOccurs="0" maxOccurs="1" />
            <xs:element name="VerificaMerce" type="VerificaType" minOccurs="0" maxOccurs="1" />
            <xs:element name="Giacenza" type="GiacenzaType" minOccurs="0" maxOccurs="1" />
            <xs:element name="Anomalia" type="AnomaliaType" minOccurs="0" maxOccurs="1" />
            <xs:element name="GiacenzaNoPratica" type="GiacenzaNoPraticaType" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="UdmType">
        <xs:sequence>
            <xs:element name="UDM" type="UdmElementType" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UdmElementType">
        <xs:all>
            <xs:element name="Anno" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:maxExclusive value="2100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Udm" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:maxExclusive value="2147483647" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Entrata" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Uscita" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="BarcodeInterno" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Verificata" type="VerificataCheckType" minOccurs="0" maxOccurs="1" />
            <xs:element name="Utente" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Operatore" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Data" type="DataType" minOccurs="0" maxOccurs="1" />
            <xs:element name="Ora" type="OraType" minOccurs="0" maxOccurs="1" />
            <xs:element name="Imballi" type="N0Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="PesoLordo" type="N2Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="Volume" type="N4Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="Anomalie" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:all minOccurs="0" maxOccurs="1">
                        <xs:element name="Codice" type="xs:string" minOccurs="0" maxOccurs="1" />
                        <xs:element name="Viaggio" type="xs:string" minOccurs="0" maxOccurs="1" />
                        <xs:element name="Data" type="DataType" minOccurs="0" maxOccurs="1" />
                        <xs:element name="Ora" type="OraType" minOccurs="0" maxOccurs="1" />
                        <xs:element name="Operatore" type="xs:string" minOccurs="0" maxOccurs="1" />
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="ViaggioType">
        <xs:all>
            <xs:element name="Anno" type="xs:int" minOccurs="0" maxOccurs="1" />
            <xs:element name="Filiale" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Numero" type="xs:int" minOccurs="0" maxOccurs="1" />
            <xs:element name="Vettore" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Targa" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="DestinazioneTipo" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="DestinazioneCodice" type="xs:string" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="ConsegnaRegolareType">
        <xs:all>
            <xs:element name="Firma" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="MotivoRitardo" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="MotivoAnticipo" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="MotivoRiserva" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="LinkPodEsterno" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="LinkPodInterno" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="ConsegneMancatePrecedenti" type="N0Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="Contrassegno" type="ContrassegnoType" minOccurs="0" maxOccurs="1" />
            <xs:element name="Incasso" type="IncassoType" minOccurs="0" maxOccurs="1" />
            <xs:element name="ImballaggiSupporti" type="ImballaggiSupportiType" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="IncassoType">
        <xs:all>
            <xs:element name="Tipo" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="Valuta" type="ValutaIsoType" minOccurs="1" maxOccurs="1" />
            <xs:element name="Importo" type="N2Type" minOccurs="1" maxOccurs="1" />
            <xs:element name="DistintaConsegna" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Assegno" type="AssegnoType" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="MancataConsegnaType">
        <xs:all>
            <xs:element name="Motivo" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="Giacenza" type="GiacenzaType" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="GiacenzaType">
        <xs:all>
            <xs:element name="Anno" type="N0Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="Filiale" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Numero" type="N0Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="Motivo" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="Riferimento" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Interlocutore" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Azione" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Luogo" type="LuogoType" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="LuogoType">
        <xs:all>
            <xs:element name="RagioneSociale" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Indirizzo" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="CAP" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Localita" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Nazione" type="NazioneIso2Type" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="DannoType">
        <xs:all>
            <xs:element name="Anno" type="N0Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="Filiale" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Numero" type="N0Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="Tipo" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="MerceDanneggiata" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="DescrizioneDanno" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="Contesto" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="LuogoDanno" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="LuogoMerce" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Note" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Responsabile" type="ResponsabileType" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="ResponsabileType">
        <xs:all>
            <xs:element name="RagioneSociale" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Nominativo" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="TargaMatricola" type="xs:string" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="TotaliSpedizione">
        <xs:all>
            <xs:element name="Colli" type="N0Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="PesoLordo" type="N4Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="PesoNetto" type="N4Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="Volume" type="N4Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="Metri" type="N4Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="Udm" type="N0Type" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:simpleType name="N0Type">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="N2Type">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0" />
            <xs:fractionDigits value="2" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="N3Type">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0" />
            <xs:fractionDigits value="3" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="N4Type">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0" />
            <xs:fractionDigits value="4" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="N6Type">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0" />
            <xs:fractionDigits value="6" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DataOraType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-3][0-9]/[01][0-9]/[0-9]{4} [0-2][0-9][:.][0-5][0-9]" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DataType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-3][0-9]/[01][0-9]/[0-9]{4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ValutaIsoType">
        <xs:restriction base="xs:string">
            <xs:length value="3" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OraType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-2][0-9][:.][0-5][0-9]" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NazioneIso2Type">
        <xs:restriction base="xs:string">
            <xs:length value="2" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="VerificaType">
        <xs:all>
            <xs:element name="Utente" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="Data" type="DataType" minOccurs="1" maxOccurs="1" />
            <xs:element name="Ora" type="OraType" minOccurs="1" maxOccurs="1" />
            <xs:element name="CodiceAnomalia" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Note" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="PesoLordoOriginale" type="N4Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="PesoNettoOriginale" type="N4Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="VolumeOriginale" type="N4Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="ImballiOriginali" type="N0Type" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:simpleType name="VerificataCheckType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[SN]" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DocumentiType">
        <xs:sequence>
            <xs:element name="Documento" type="DocumentoType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentoType">
        <xs:all>
            <xs:element name="TipoDocumento" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="Numero" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Data" type="DataType" minOccurs="0" maxOccurs="1" />
            <xs:element name="Importo" type="N2Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="Valuta" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Imballi" type="N0Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="Palette" type="N0Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="PesoLordo" type="N4Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="PesoNetto" type="N4Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="PesoTassabile" type="N4Type" minOccurs="0" maxOccurs="1" />
            <xs:element name="Volume" type="N4Type" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="CambioDataType">
        <xs:all>
            <xs:element name="Tipo" type="CambioDataTipoType" minOccurs="0" maxOccurs="1" />
            <xs:element name="TipoData" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Data" type="DataType" minOccurs="0" maxOccurs="1" />
            <xs:element name="OraInizio" type="OraType" minOccurs="0" maxOccurs="1" />
            <xs:element name="OraFine" type="OraType" minOccurs="0" maxOccurs="1" />
            <xs:element name="Interlocutore" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Motivo" type="xs:string" minOccurs="1" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:simpleType name="CambioDataTipoType">
        <xs:restriction base="xs:string">
            <xs:length value="1" />
            <xs:enumeration value="R" />
            <xs:enumeration value="C" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ArrivoTipoType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NV" />
            <xs:enumeration value="PA" />
            <xs:enumeration value="CP" />
            <xs:enumeration value="MA" />
            <xs:enumeration value="SV" />
            <xs:enumeration value="RS" />
            <xs:enumeration value="DC" />
            <xs:enumeration value="DI" />
            <xs:enumeration value="CC" />
            <xs:enumeration value="CM" />
            <xs:enumeration value="RM" />
            <xs:enumeration value="RC" />
            <xs:enumeration value="RD" />
            <xs:enumeration value="RI" />
            <xs:enumeration value="MS" />
            <xs:enumeration value="SM" />
            <xs:enumeration value="RX" />
            <xs:enumeration value="ST" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ContrassegnoType">
        <xs:all>
            <xs:element name="TipoIncasso" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Valuta" type="ValutaIsoType" minOccurs="1" maxOccurs="1" />
            <xs:element name="Importo" type="N2Type" minOccurs="1" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="AssegnoType">
        <xs:all>
            <xs:element name="Numero" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Abi" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Cab" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Conto" type="xs:string" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="CoordinateType">
        <xs:all>
            <xs:element name="Latitudine" type="N6Type" />
            <xs:element name="Longitudine" type="N6Type" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="ArticoliType">
        <xs:sequence>
            <xs:element name="Articolo" type="ArticoloType" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArticoliSpedizioneType">
        <xs:sequence>
            <xs:element name="Articolo" type="ArticoloType" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArticoloType">
        <xs:all>
            <xs:element name="NumeroRiga" type="N0Type" minOccurs="0" />
            <xs:element name="Codice" type="xs:string" minOccurs="0" />
            <xs:element name="Descrizione" type="xs:string" minOccurs="0" />
            <xs:element name="UnitaDiMisura" type="xs:string" minOccurs="0" />
            <xs:element name="Quantita" type="N3Type" minOccurs="0" />
            <xs:element name="QuantitaRiserva" type="N3Type" minOccurs="0" />
            <xs:element name="Riserva" type="xs:string" minOccurs="0" />
            <xs:element name="Lotto" type="xs:string" minOccurs="0" />
            <xs:element name="IdRiga" type="xs:string" minOccurs="0" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="ImballaggiSupportiType">
        <xs:all>
            <xs:element name="Consegnati" type="ConsegnatiType" minOccurs="0" maxOccurs="1" />
            <xs:element name="Ritirati" type="RitiratiType" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="ConsegnatiType">
        <xs:sequence>
            <xs:element name="Consegnato" type="ConsegnatoRitiratoType" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConsegnatoRitiratoType">
        <xs:all>
            <xs:element name="Tipologia" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="Stato" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="Quantita" type="N0Type" minOccurs="1" maxOccurs="1" />
            <xs:element name="Riferimento" type="xs:string" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="RitiratiType">
        <xs:sequence>
            <xs:element name="Ritirato" type="ConsegnatoRitiratoType" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ETAType">
        <xs:all>
            <xs:element name="Tipo" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Data" type="DataType" minOccurs="0" maxOccurs="1" />
            <xs:element name="OraInizio" type="OraType" minOccurs="0" maxOccurs="1" />
            <xs:element name="OraFine" type="OraType" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="GiacenzaNoPraticaType">
        <xs:all>
            <xs:element name="Motivo" type="xs:string" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="AnomaliaType">
        <xs:all>
            <xs:element name="CodiceAnomalia" type="xs:string" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
</xs:schema>
