_Global/old/ImportContrassegni_ModuloCOD_v2.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Designer Edition 9.1.1.3301 (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" id="SGANET-COD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Documenti" type="DocumentiType" />
    <xs:complexType name="DocumentiType">
        <xs:sequence>
            <xs:element name="Documento" type="DocumentoType" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentoType">
        <xs:all>
            <xs:element name="Data" type="xs:date" />
            <xs:element name="Filiale">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="2" />
                        <xs:minLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Numero" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Riferimento">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                        <xs:minLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Natura">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                        <xs:enumeration value="T" />
                        <xs:minLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TipoIncasso">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                        <xs:minLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Cliente">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:maxInclusive value="9999999" />
                        <xs:minInclusive value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Valuta">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="4" />
                        <xs:minLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ImportoRichiesto">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="15" />
                        <xs:fractionDigits value="2" />
                        <xs:minExclusive value="0" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ImportoTolleranza" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="15" />
                        <xs:fractionDigits value="2" />
                        <xs:minInclusive value="0" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Note" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1000" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Incasso" type="IncassoType" minOccurs="0" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="IncassoType">
        <xs:all>
            <xs:element name="Stato">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="1" />
                        <xs:enumeration value="I" />
                        <xs:enumeration value="M" />
                        <xs:enumeration value="A" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Dettaglio" type="DettaglioIncassoType" minOccurs="0" />
            <xs:element name="MancatoIncasso" type="MancatoIncassoType" minOccurs="0" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="SoggettoIncassoType">
        <xs:choice>
            <xs:element name="Fornitore">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1" />
                        <xs:maxInclusive value="9999999" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Nominativo">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DettaglioIncassoType">
        <xs:all>
            <xs:element name="DataOra" type="xs:dateTime" />
            <xs:element name="Filiale">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="2" />
                        <xs:minLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Soggetto" type="SoggettoIncassoType" />
            <xs:element name="ImportoContanti" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="15" />
                        <xs:fractionDigits value="2" />
                        <xs:minExclusive value="0" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Assegno1" type="AssegnoType" minOccurs="0" />
            <xs:element name="Assegno2" type="AssegnoType" minOccurs="0" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="MancatoIncassoType">
        <xs:all>
            <xs:element name="Motivo">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="3" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Interlocutore" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="AssegnoType">
        <xs:all>
            <xs:element name="Tipo">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="1" />
                        <xs:enumeration value="B" />
                        <xs:enumeration value="C" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Importo">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="15" />
                        <xs:fractionDigits value="2" />
                        <xs:minExclusive value="0" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Riferimento" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:all>
    </xs:complexType>
</xs:schema>
