_Global/old/TRAS_EventiOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2018 rel. 2 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="RitiriConsegne.Eventi">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Release" minOccurs="1" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Eventi" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Evento" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Anno" type="xs:short" minOccurs="1" maxOccurs="1"/>
										<xs:element name="Filiale" minOccurs="1" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Numero" type="xs:int" minOccurs="1" maxOccurs="1"/>
										<xs:element name="DataOra" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
										<xs:element name="Codice" minOccurs="1" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Descrizione" minOccurs="1" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CodiceEsterno" minOccurs="0" maxOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="100"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
										<xs:element name="Motivo" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Codice" minOccurs="1" maxOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Descrizione" minOccurs="1" maxOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="100"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CodiceEsterno" minOccurs="0" maxOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="100"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="RitardoAnticipo" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Tipo" minOccurs="1" maxOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="R"/>
																<xs:enumeration value="A"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Motivo" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Codice" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Descrizione" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="100"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="CodiceEsterno" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="100"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="IncassoContrassegno" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Eseguito" minOccurs="1" maxOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="S"/>
																<xs:enumeration value="N"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Valuta" minOccurs="1" maxOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Importo" minOccurs="1" maxOccurs="1">
														<!-- CAMBIARE IN DECIMAL -->
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="\d+(,\d+)?"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Motivo" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Codice" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Descrizione" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="100"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Articoli" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Articolo" minOccurs="1" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="NumeroRiga" type="xs:int"/>
																<xs:element name="Codice" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Descrizione" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="100"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="UnitaDiMisura" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Quantita" minOccurs="1" maxOccurs="1">
																	<!-- CAMBIARE IN DECIMAL -->
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:pattern value="\d+(,\d+)?"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Eseguito" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Motivo" minOccurs="1" maxOccurs="1">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Codice" minOccurs="1" maxOccurs="1">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="3"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Descrizione" minOccurs="1" maxOccurs="1">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="100"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="CodiceEsterno" minOccurs="0" maxOccurs="1">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="100"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Stato" minOccurs="1" maxOccurs="1">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Codice" minOccurs="1" maxOccurs="1">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="3"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Descrizione" minOccurs="1" maxOccurs="1">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="100"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="CodiceEsterno" minOccurs="0" maxOccurs="1">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="100"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="CambioData" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
										<xs:element name="Interlocutore" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FirmaPod" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Documento">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Release" minOccurs="1" maxOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Anno" type="xs:short" minOccurs="1" maxOccurs="1"/>
													<xs:element name="Filiale" minOccurs="1" maxOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Numero" type="xs:int" minOccurs="1" maxOccurs="1"/>
													<xs:element name="Data" type="xs:date" minOccurs="1" maxOccurs="1"/>
													<xs:element name="RitiroConsegna" minOccurs="1" maxOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="C"/>
																<xs:enumeration value="R"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Cliente" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Codice" type="xs:int" minOccurs="1" maxOccurs="1"/>
																<xs:element name="RagioneSociale" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="100"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ClienteRiferimento" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Codice" type="xs:int" minOccurs="1" maxOccurs="1"/>
																<xs:element name="RagioneSociale" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="100"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Riferimenti" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="DocumentoCliente" minOccurs="0" maxOccurs="1">
																	<xs:complexType>
																		<xs:sequence>																			
																			<xs:element name="Numero" minOccurs="1" maxOccurs="1">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="20"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Data" type="xs:date" minOccurs="1" maxOccurs="1"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="DocumentoTrasporto" minOccurs="0" maxOccurs="1">
																	<xs:complexType>
																		<xs:sequence>																			
																			<xs:element name="Numero" minOccurs="1" maxOccurs="1">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="20"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Data" type="xs:date" minOccurs="1" maxOccurs="1"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Spedizione" minOccurs="0" maxOccurs="1">
																	<xs:complexType>
																		<xs:sequence>																			
																			<xs:element name="Numero" minOccurs="1" maxOccurs="1">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="20"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Data" type="xs:date" minOccurs="1" maxOccurs="1"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Viaggio" minOccurs="0" maxOccurs="1">
																	<xs:complexType>
																		<xs:sequence>																			
																			<xs:element name="Numero" minOccurs="1" maxOccurs="1">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="20"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Data" type="xs:date" minOccurs="1" maxOccurs="1"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="DataPrevista" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Tipo" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="D"/>
																			<xs:enumeration value="R"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Data" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
																<xs:element name="OraInizio" type="xs:time" minOccurs="0" maxOccurs="1"/>
																<xs:element name="OraFine" type="xs:time" minOccurs="0" maxOccurs="1"/>
																<xs:element name="Tassativa" type="xs:boolean" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="TipoServizio" minOccurs="0" maxOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ValoriQuantitativi" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Peso" minOccurs="0" maxOccurs="1">
																	<!-- CAMBIARE IN DECIMAL -->
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:pattern value="\d+(,\d+)?"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Volume" minOccurs="0" maxOccurs="1">
																	<!-- CAMBIARE IN DECIMAL -->
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:pattern value="\d+(,\d+)?"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Bancali" minOccurs="0" maxOccurs="1">
																	<!-- CAMBIARE IN DECIMAL -->
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:pattern value="\d+(,\d+)?"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Destinatario" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="RagioneSociale" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="100"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Indirizzo" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="100"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Cap" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="10"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Localita" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="100"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Provincia" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="2"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Nazione" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="CodiceEsterno" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="100"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Interlocutore" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="100"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Telefono" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="10"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Email" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="100"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Riferimento" minOccurs="0" maxOccurs="1">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Data" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
																			<xs:element name="Numero" minOccurs="1" maxOccurs="1">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="20"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Magazzino" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="RagioneSociale" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="100"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Indirizzo" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="100"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Cap" minOccurs="0" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="10"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Localita" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="100"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Provincia" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="2"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Nazione" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>																
															</xs:sequence>
														</xs:complexType>
													</xs:element>																																							
													<xs:element name="Articoli" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Articolo" minOccurs="1" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="NumeroRiga" type="xs:int"/>
																			<xs:element name="Codice" minOccurs="0" maxOccurs="1">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="40"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Descrizione" minOccurs="1" maxOccurs="1">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="100"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="UnitaDiMisura" minOccurs="1" maxOccurs="1">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="3"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Quantita" minOccurs="1" maxOccurs="1">
																				<!-- CAMBIARE IN DECIMAL -->
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:pattern value="\d+(,\d+)?"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="IdRiga" minOccurs="0" maxOccurs="1">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="20"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Riferimento" minOccurs="0" maxOccurs="1">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="30"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="DettaglioDescrizione" minOccurs="0" maxOccurs="1">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="100"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Note" minOccurs="0" maxOccurs="1">
																				<xs:simpleType>
																					<xs:restriction base="xs:string"></xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Caratteristiche" minOccurs="0" maxOccurs="1">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Caratteristica" minOccurs="1" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="Lotto" minOccurs="0" maxOccurs="1">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:maxLength value="20"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element name="Matricola" minOccurs="0" maxOccurs="1">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:maxLength value="30"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element name="Contenitore" minOccurs="0" maxOccurs="1">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:maxLength value="20"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element name="DataProduzione" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
																									<xs:element name="DataScadenza" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
																									<xs:element name="Quantita" minOccurs="1" maxOccurs="1">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:pattern value="\d+(,\d+)?"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Udm" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="UdmDettaglio" minOccurs="1" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Codice" minOccurs="0" maxOccurs="1">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="40"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="CodiceEsterno" minOccurs="0" maxOccurs="1">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="100"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>																			
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="LinkTracking2pC" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="500"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
